* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}
body {
  font-size: 16px;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
.container {
  margin: 15vh auto 2vh;
  width: 23vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: hsl(225, 100%, 92%) 0px 30px 20px 10px;
}
header img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
h1 {
  padding: 20px;
}
.summary p {
  color: hsl(224, 23%, 55%);
  padding: 0 57px 20px;
  line-height: 1.6;
}
.price {
  margin: 0 auto;
  width: 80%;
  display: flex;
  padding: 20px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  align-items: center;
}
.plan {
  padding-left: 20px;
  color: hsl(224, 23%, 55%);
  line-height: 1.5;
}
.plan p:first-child {
  color: black;
  font-weight: 900;
}
.price a {
  flex-grow: 2;
  text-align: right;
  color: hsl(245, 75%, 52%);
  font-size: 0.9rem;
  font-weight: bold;
}
.price a:hover {
  color: hsl(245, 51%, 67%);
}
button {
  width: 80%;
  margin: 35px 0 30px;
  padding: 15px;
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  border: 1px solid hsl(245, 63%, 47%);
  color: white;
  font-weight: bold;
  box-shadow: rgba(224, 232, 255) 0px 25px 20px;
}
button:hover {
  background-color: hsl(245, 51%, 67%);
}
#cancel {
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  padding-bottom: 20px;
}
#cancel:hover {
  color: black;
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }
  .container {
    width: 90%;
  }
  .summary p {
    padding: 0 35px 20px;
  }
}
